h2 {
  opacity: 0.8;
  padding: 10px 5px;
  margin: 5px;
  font-family: var(--font-heading);
  letter-spacing: 2px;
  display: inline;
}

h3 {
  margin: 0;
  display: inline;
  position: relative;
  top: 2.2rem;
  left: 1rem;
  padding: 0 7px;
  background-color: var(--background);
  color: var(--accent);
  font-family: var(--font-accent);
}

h4 {
  font-weight: normal;
  margin: 0 0 10px 0;
  display: inline;
}

p {
  padding: 10px;
  margin: 5px;
  font-family: var(--font-paragraph-2);
}

form {
  text-align: center;
  margin: 30px 0;
}

.form-search {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 3px solid var(--primary);
  border-right: none;
  font-size: 18px;
}

.form-button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 3px solid var(--primary);
  background-color: var(--secondary);
  color: var(--accent);
  font-size: 18px;
}

.definition-example,
.Results {
  border: solid 2px var(--accent);
  padding: 10px;
  background: var(--background2) content-box;
  border-radius: 10px;
  margin: 25px 0;
}

.basics-grid {
  display: grid;
  grid-template-columns: 0.5fr 10fr;
  align-items: center;
}

a,
a:visited {
  color: var(--secondary);
}

.sound-button {
  border-radius: 50px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  margin: 5px;
  padding: 4px 4px 4px 8px;
  font-family: var(--font-paragraph-2);
  max-width: 50px;
}
