h3 {
  margin: 0;
  color: var(--dark-color);
  background: var(--background);
  position: fixed;
  left: 7rem;
  padding: 0 7px;
  line-height: 5px;
}

h2 {
  opacity: 0.8;
  padding: 10px;
  margin: 5px;
}
h4 {
  font-weight: normal;
  padding-left: 10px;
  margin: 0 0 10px 0;
}

p {
  padding: 10px;
  margin: 5px;
}

form {
  text-align: center;
  margin: 30px 0;
}

.form-search {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 3px solid var(--dark-color);
  font-size: 18px;
}

.form-button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 3px solid var(--dark-color);
  font-size: 18px;
}

.definition-example,
.Results {
  border: solid 5px var(--dark-color);
  padding: 12px;
  background: var(--light-color) content-box;
  border-radius: 10px;
  margin: 25px 0;
}

.button {
  border-radius: 10px;
  border: 2px solid var(--dark-accent);
  background-color: var(--light-accent);
  margin: 5px;
}
