h2 {
  opacity: 0.8;
  padding: 10px 5px;
  margin: 10px;
  font-family: var(--font-heading);
  letter-spacing: 2px;
  display: inline;
}

h3 {
  display: inline;
  position: relative;
  top: 2.2rem;
  left: 1rem;
  padding: 0 7px;
  background-color: var(--background);
  color: var(--accent);
  font-family: var(--font-accent);
}

h4 {
  font-weight: normal;
  margin: 0 0 10px 5px;
  display: inline;
  font-size: 1rem;
}

p {
  padding: 10px;
  margin: 5px;
  font-family: var(--font-paragraph-2);
}

.dictionary-meaning {
  margin-top: 10px;
}
.header-enter-text {
  margin-top: 30px;
  font-weight: bold;
}

form {
  text-align: center;
  margin: 5px 0;
}

.form-search {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 3px solid var(--primary);
  background-color: var(--secondary);
  border-right: none;
  font-size: 18px;
  padding: 5px;
}

.form-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid var(--primary);
  background-color: var(--primary);
  color: var(--background2);
  font-size: 18px;
  padding: 5px;
}

.definition-example,
.Results,
.Photos {
  border: solid 2px var(--accent);
  padding: 10px;
  background: var(--background2) content-box;
  border-radius: 10px;
  margin: 25px 0;
}

.basics-grid {
  margin: 10px;
}

.phonetics-grid {
  padding-left: 10px;
  margin-top: 10px;
}

.phonetics-audio,
.phonetics-text {
  display: inline;
}

a,
a:visited {
  color: var(--secondary);
}

.sound-button {
  border-radius: 50px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  margin: 5px;
  padding: 4px 4px 4px 8px;
  font-family: var(--font-paragraph-2);
  max-width: 50px;
  transition: all ease-in-out 100ms;
}

.sound-button:hover {
  cursor: pointer;
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: var(--background2);
}

.sound-button-disabled {
  border-radius: 50px;
  border: 2px dashed var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
  margin: 5px;
  padding: 4px 4px 4px 8px;
  font-family: var(--font-paragraph-2);
  opacity: 0.8;
  max-width: 50px;
}

.Definitions {
  margin: 10px 10px 0 10px;
}

.Examples {
  margin: 0 10px 10px 10px;
}

.spacer-div {
  margin-bottom: 10px;
}
